<div class="container"> 
    <div class="row">
        <div class="col-xs-12">

            <input type="text"
            class="form-control"
            id="firstNumber" placeholder="First Number"
            #firstNumber>
            <button class="btn btn-success" 
             (click)="settingFirstNumber(firstNumber)">Set First</button>
            <br>
            <input type="text"
            class="form-control"
            id="secondNumber" placeholder="Second Number"
            #secondNumber>

           
            <button class="btn btn-success" 
            (click)="settingSecondNumber(secondNumber)">Set Second</button>
                    
        </div>
    </div>
</div>   





