<div class="container"> 
    <div class="row">
        <div class="col-xs-12">

            <input type="text"
            class="form-control"
            id="firstNumber" placeholder="First Number"
            [(ngModel)]="firstNumber">
            <button class="btn btn-success" 
             (click)="settingFirstNumber()">Set First</button>
            <br>
            <input type="text"
            class="form-control"
            id="secondNumber" placeholder="Second Number"
            [(ngModel)]="secondNumber">

           
            <button class="btn btn-success" 
            (click)="settingSecondNumber()">Set Second</button>
                    
        </div>
    </div>
</div>   





